

// Primary Colors
$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);

// Accent colors
$Blue: hsl(248, 32%, 49%);


// Neutral colors
$DarkBlue: hsl(249, 10%, 26%) ;
$GrayishBlue: hsl(246, 25%, 77%);